.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-card h1 {
    color: rgb(255, 255, 255);
    font-family: 'Bungee', cursive;
}

#mypage-profile-pic {
    width: 25em;
    height: auto;
    clip-path: circle();
}