.profile-card {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.profile-card h1 {
    color: rgb(255, 255, 255);
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: 'Bungee', cursive;
}

#mypage-profile-pic {
    width: 25em;
    height: auto;
    clip-path: circle();
}