.login {
    min-height: 100vh;
}

.login h1 {
    color: rgb(255, 255, 255);
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: 'Bungee', cursive;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 25%;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.2);
    height: 55em;
}

.login-form-container h1 {
    text-align: center;
}

.login-form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 50%; */
    margin-top: 3em;
    margin-bottom: 1.5em;
}

.login input {
    width: 25em;
    height: 1.75em;
}

.login button {
    width: 25em;
    height: 1.75em;
    max-width: 35%;
    margin-top: 0.25em;
    font-size: 1em;
    font-family: 'Bungee', cursive;
}
.login button:hover {
    background-color: red;
    color: white;
}

.errors-container {
    margin-top: 1em;
}

.login error {
    font-family: 'Bungee', cursive;
}

#signup-text {
    text-align: center;
    font-family: 'Bungee', cursive;
    color: white;
}

.login a {
    color:rgb(255, 255, 255);
}

.login a:hover{
    color: black;
}