.login {
    min-height: 100vh;
}

.login h1 {
    color: rgb(255, 255, 255);
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: 'Bungee', cursive;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 25%;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.2);
    height: 55em;
}

.login-form-container h1 {
    text-align: center;
}

.login-form-container form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#signup-text {
    text-align: center;
    font-family: 'Bungee', cursive;
    color: white;
}